<section id="about" class="hero-body is-light" style="margin-top: 50px;">
    <div class="container">
        <div class="columns rowE1"></div>
        <div class="columns rowE2"></div>
        <div class="columns rowE3"></div>
    </div>
</section>
<section class="hero is-light bg-inf" style="margin-top: 50px;">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-12">
                    <div class="has-text-warning is-size-4 heavy">
                        En el CIL, nuestros estudiantes obtienen un desempeño exitoso en el ámbito académico,
                        laboral y
                        personal.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>