<section id="about" class="hero is-light">
    <div class="container is-fluid">
        <div class="columns rowE"></div>
        <div class="columns rowE"></div>
        <div class="columns rowE"></div>
        <div class="columns">
            <div class="column is-12">
                <article class="message is-warning">
                    <div class="message-body is-size-4 heavy">
                        En el CIL, nuestros estudiantes obtienen un desempeño exitoso en el ámbito académico, laboral y personal.
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>