<section id="calls" class="hero-body is-light" style="margin-top: 50px;">
  <div class="container">
    <h3 class="is-size-4 py-1 heavy">Convocatorias</h3>

    <ul class="menu-list">
      <li>
        <a class="has-text-primary is-link is-size-4 card-header-title"
          href="https://drive.google.com/file/d/1yu29ksP2LFhLLApPu7KJCHmXcd4lBeFY/view?fbclid=IwAR2o1zfgDmuz1W4MqyRKmxF2JV-UM7wRn3s8GfUMvw2xRUoA_5Iwb8bUn1I">Convocatoria
          para cursos: Inglés, Francés, Italiano y Lengua Maya <i class="fas fa-external-link-alt"></i></a>
        <div class="notification is-warning is-light">
          Abierto al público en general y en caso de menores de edad, con secundaria concluida.
        </div>
      </li>
      <li>
        <a class="has-text-primary is-link is-size-4 card-header-title"
          href="https://cil.dgda.uady.mx/new.php?id=425">Proceso
          de solicitud de Carta de Acreditación <i class="fas fa-external-link-alt"></i></a>
        <div class="notification is-warning is-light">
          El registro de datos estará habilitado de acuerdo con las fechas de solicitud en un horario de 8:30 a 12:30
          hrs.
          Para realizar el registro deberás contar con una cuenta de correo Gmail.
        </div>
      </li>
      <li>
        <a class="has-text-primary is-link is-size-4 card-header-title"
          href="https://cil.dgda.uady.mx/new.php?id=414">TOEFL ITP - Fechas de aplicación Agosto 2020 <i class="fas fa-external-link-alt"></i></a>
        <div class="notification is-warning is-light">
          El Registro para el TOEFL ITP estará habilitado del 1 al 7 de julio de 2020 a partir de las 8:00 A.M.
        </div>
      </li>
    </ul>

  </div>
</section>