<section id="contact" class="section">
    <div class="container">
        <div class="columns is-desktop is-fluid">
            <div class="column is-6">
                <h3 class="is-size-4 py-1">
                    Conócenos
                </h3>
                <ul class="menu-list">
                    <li><a class="has-text-primary is-link" href="#"></a>
                    </li>
                    <li><a class="has-text-primary is-link" href="#"></a>
                    </li>
                    <li><a class="has-text-primary is-link" href="#"></a>
                    </li>
                    <li><a class="has-text-primary is-link" href="#"></a>
                    </li>
                    <li><a class="has-text-primary is-link" href="#"></a>
                    </li>
                    <li><a class="has-text-primary is-link" href="#"></a>
                    </li>
                </ul>
            </div>
            <div class="column is-6">
                <h3 class="is-size-4 py-1">Comunicate con nosotros</h3>
                <p class="pb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ea cupiditate, illum
                    quaerat dicta quidem repudiandae iusto suscipit? Non eum velit at rerum nulla molestiae
                    laudantium aperiam soluta aspernatur nostrum!</p>
                <form id="contactForm" method="POST">
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <input id="name" name="name" class="input" type="text" placeholder="Nombre">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <span class="icon is-small is-right"></span>
                        </div>
                        <p class="help is-danger"></p>
                    </div>
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <input id="email" name="email" class="input" type="email" placeholder="Correo electrónico">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right"></span>
                        </div>
                        <p class="help is-danger"></p>
                    </div>
                    <div class="field"></div>
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <input id="subject" name="subject" class="input" type="text" placeholder="Asunto">
                            <span class="icon is-small is-left">
                                <i class="fas fa-sticky-note"></i>
                            </span>
                            <span class="icon is-small is-right"></span>
                        </div>
                        <p class="help is-danger"></p>
                    </div>
                    <div class="field">
                        <div class="control">
                            <textarea id="message" name="message" class="textarea" placeholder="Mensaje"></textarea>
                        </div>
                        <p class="help is-danger"></p>
                    </div>
                    <div class="field is-pulled-right">
                        <div class="control">
                            <button class="button is-primary">
                                Enviar
                            </button>
                        </div>
                    </div>
            </div>
            </form>
        </div>
        <div id="addresses" class="columns is-desktop is-fluid"></div>
    </div>
    </div>
</section>