<!-- <section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <div class="is-pulled-left">
                <h1 class="title has-text-warning">
                    Bienvenidos al CIL
                </h1>
            </div>
            <div class="is-pulled-right">
                <button class="button is-warning is-medium">
                    Contáctanos
                </button>
            </div>
        </div>
    </div>
</section> -->

<section id="about" class="hero is-light">
    <div class="hero-body">
        <div class="container is-fluid">
            <div class="columns">
                <div class="column is-6">
                    <h1 class="title has-text-warning">Nosotros</h1>
                    <p class="textr">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repellat voluptatibus
                        officia alias velit aliquam magni repellendus odit eveniet tempore quaerat nemo, itaque
                        necessitatibus consectetur voluptates! Aliquid enim dolor autem!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iure magni minima
                        consequuntur
                        voluptatem magnam mollitia corporis quam eaque dolore repellat, ab earum placeat veniam
                        aspernatur at harum! Veritatis, cupiditate?
                    </p>
                </div>
                <div class="column is-6">
                    <figure class="image is-square has-text-centered">
                        <img id="nosotros-img" class="is-rounded">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Servicios</h1>
            <div class="columns">
                <div class="column is-4">
                    <div class="card">
                        <div class="card-image">
                            <i class="fas fa-language has-text-warning"></i>
                        </div>
                        <header class="card-header">
                            <p class="is-size-3 card-header-title">
                                Idiomas
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis
                                mauris.
                                <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                                <br>
                                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <div class="card-image">
                            <i class="fas fa-graduation-cap has-text-warning"></i>
                        </div>
                        <header class="card-header">
                            <p class="is-size-3 card-header-title">
                                PII
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis
                                mauris.
                                <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                                <br>
                                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <div class="card-image">
                            <i class="fas fa-certificate has-text-warning"></i>
                        </div>
                        <header class="card-header">
                            <p class="is-size-3 card-header-title">
                                Certificaciones
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis
                                mauris.
                                <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                                <br>
                                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="numbers" class="hero is-light">
    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading has-text-light">Estudiantes</p>
                <p class="title has-text-warning"><span class=" has-text-light counter" data-target="200"></span>
                </p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading has-text-light">Bilingues</p>
                <p class="title has-text-warning"><span class="has-text-light counter" data-target="400"></span>
                </p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading has-text-light">Bilingues</p>
                <p class="title has-text-warning"><span class="has-text-light counter" data-target="600"></span>
                </p>
            </div>
        </div>
    </nav>
</section>

<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    <h1 class="title has-text-warning">
                        Mantenme informado
                    </h1>
                </div>
                <div class="column is-6">
                    <form id="newsletterForm">
                        <div class="field is-grouped is-normal">
                            <p class="control is-expanded">
                                <input id="newsletterInput" name="newsletterInput" class="input" type="text"
                                    placeholder="nombre@dominio.com" required>
                                <small class="help is-danger">error</small>
                            </p>
                            <p class="control">
                                <button class="button is-warning">
                                    Enviar
                                </button>
                            </p>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="calendar" class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-12">
                    <h1 id="calendar" class="title has-background-warning has-text-light">Calendario</h1>
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <div class="calendar">
                                    <p id="monthName"></p>
                                    <p id="dayName"></p>
                                    <p id="dayNumber"></p>
                                    <p id="year"></p>
                                </div>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p class="is-size-3">
                                        title
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi obcaecati
                                        voluptatibus debitis similique nobis, nihil quo assumenda explicabo
                                        consequuntur. Rerum doloremque similique voluptatem nobis. Reprehenderit
                                        obcaecati veritatis illo quasi esse!
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>