<!-- <section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <div class="is-pulled-left">
                <h1 class="title has-text-warning">
                    Bienvenidos al CIL
                </h1>
            </div>
            <div class="is-pulled-right">
                <button class="button is-warning is-medium">
                    Contáctanos
                </button>
            </div>
        </div>
    </div>
</section> -->

<section id="about" class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns" style="align-items: center;">
                <div class="column is-6">
                    <h1 class="title has-text-warning">Nosotros</h1>
                    <p class="textr">
                        En el Centro Institucional de Lenguas nos encargamos de la enseñanza de lenguas a través del desarrollo de habilidades interculturales y competencias comunicativas logrando un desempeño exitoso en el ámbito académico, laboral y personal. Es importante recalcar que nuestros servicios son abiertos al público en general.
                    </p>
                </div>
                <div class="column is-6" style="text-align: center;">
                    <figure>
                        <img id="nosotros-img" class="is-rounded" alt="home-nosotros">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Servicios</h1>
            <div class="columns">
                <div class="column is-4">
                    <div class="card">
                        <div class="card-image">
                            <img id="idiomas" alt="home-idiomas">
                        </div>
                        <header class="card-header">
                            <p class="is-size-3 card-header-title heavy">
                                <a href="#/services">Cursos de Idiomas</a>
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                Ofrecemos cursos para aprender idiomas Inglés, Francés, Italiano y Lenguas Maya a todo el público en general. En estos cursos abiertos al público en general, los estudiantes aprenden el idioma a través de la cultura.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <div class="card-image">
                            <img id="pii" alt="home-pii">
                        </div>
                        <header class="card-header">
                            <p class="is-size-3 card-header-title heavy">
                                <a href="#/services">Constancias</a>
                                &nbsp;<br>
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                Expedición de Constancias de los cursos coloquiales del CIL. Las constancias que emite el CIL para cursos coloquiales avalan los estudios vigentes o los estudios cursados en los diferentes idiomas que imparte el CIL. El interesado debe acudir al CIL a realizar su solicitud y realizar el pago correspondiente.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <div class="card-image">
                            <img id="cartas" alt="home-cartas">
                        </div>
                        <header class="card-header">
                            <p class="is-size-3 card-header-title heavy">
                                <a href="#/services">Aplicación TOEFL</a>
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                El examen TOEFL ITP es un examen de certificación en el cual la persona que ya tiene cierto nivel del idioma puede presentar para poder demostrar el nivel que tiene. El interesado deberá acceder a nuestra página web (www.cil.dgda.uady.mx).
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="numbers" class="is-light">
    <div class="container">
        <div class="columns">
            <div class="column is-4 has-text-centered">
                <p class="heading has-text-light">Estudiantes</p>
                <p class="title has-text-warning"><span class=" has-text-light counter" data-target="2000"></span>
                </p>
            </div>
            <div class="column is-4 has-text-centered">
                <p class="heading has-text-light">Bilingues</p>
                <p class="title has-text-warning"><span class="has-text-light counter" data-target="4000"></span>
                </p>
            </div>
            <div class="column is-4 has-text-centered">
                <p class="heading has-text-light">Bilingues</p>
                <p class="title has-text-warning"><span class="has-text-light counter" data-target="6000"></span>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="hero is-light bg-inf">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    <h1 class="title has-text-warning">
                        Mantenme informado
                    </h1>
                </div>
                <div class="column is-6">
                    <form id="newsletterForm">
                        <div class="field is-grouped is-normal">
                            <p class="control is-expanded">
                                <input id="newsletterInput" name="newsletterInput" class="input" type="text"
                                    placeholder="nombre@dominio.com" required>
                                <small class="help is-danger">error</small>
                            </p>
                            <p class="control">
                                <button type="submit" class="button is-warning">
                                    Enviar
                                </button>
                            </p>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="calendar" class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-12">
                    <h1 id="calendar" class="title has-background-warning has-text-light">Calendario</h1>
                    <div class="box"></div>
                </div>
            </div>
        </div>
    </div>
</section>