<!-- <section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <div class="is-pulled-left">
                <h1 class="title has-text-warning">
                    Bienvenidos al CIL
                </h1>
            </div>
            <div class="is-pulled-right">
                <button class="button is-warning is-medium">
                    Contáctanos
                </button>
            </div>
        </div>
    </div>
</section> -->

<section id="about" class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    <h1 class="title has-text-warning">Nosotros</h1>
                    <p class="textr">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repellat voluptatibus
                        officia alias velit aliquam magni repellendus odit eveniet tempore quaerat nemo, itaque
                        necessitatibus consectetur voluptates! Aliquid enim dolor autem!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iure magni minima
                        consequuntur
                        voluptatem magnam mollitia corporis quam eaque dolore repellat, ab earum placeat veniam
                        aspernatur at harum! Veritatis, cupiditate?
                    </p>
                </div>
                <div class="column is-6" style="text-align: center;">
                    <figure>
                        <img id="nosotros-img" class="is-rounded" alt="home-nosotros">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Servicios</h1>
            <div class="columns">
                <div class="column is-4">
                    <div class="card">
                        <div class="card-image">
                            <img id="idiomas" alt="home-idiomas">
                        </div>
                        <header class="card-header">
                            <p class="is-size-3 card-header-title">
                                Cursos de Idiomas
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis
                                mauris.
                                <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                                <br>
                                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <div class="card-image">
                            <img id="pii" alt="home-pii">
                        </div>
                        <header class="card-header">
                            <p class="is-size-3 card-header-title">
                                Acreditaciones
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis
                                mauris.
                                <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                                <br>
                                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <div class="card-image">
                            <img id="cartas" alt="home-cartas">
                        </div>
                        <header class="card-header">
                            <p class="is-size-3 card-header-title">
                                Aplicación TOEFL
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis
                                mauris.
                                <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                                <br>
                                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="numbers" class="is-light">
    <div class="container">
        <div class="columns">
            <div class="column is-4 has-text-centered">
                <p class="heading has-text-light">Estudiantes</p>
                <p class="title has-text-warning"><span class=" has-text-light counter" data-target="2000"></span>
                </p>
            </div>
            <div class="column is-4 has-text-centered">
                <p class="heading has-text-light">Bilingues</p>
                <p class="title has-text-warning"><span class="has-text-light counter" data-target="4000"></span>
                </p>
            </div>
            <div class="column is-4 has-text-centered">
                <p class="heading has-text-light">Bilingues</p>
                <p class="title has-text-warning"><span class="has-text-light counter" data-target="6000"></span>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="hero is-light bg-inf">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    <h1 class="title has-text-warning">
                        Mantenme informado
                    </h1>
                </div>
                <div class="column is-6">
                    <form id="newsletterForm">
                        <div class="field is-grouped is-normal">
                            <p class="control is-expanded">
                                <input id="newsletterInput" name="newsletterInput" class="input" type="text"
                                    placeholder="nombre@dominio.com" required>
                                <small class="help is-danger">error</small>
                            </p>
                            <p class="control">
                                <button type="submit" class="button is-warning">
                                    Enviar
                                </button>
                            </p>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="calendar" class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-12">
                    <h1 id="calendar" class="title has-background-warning has-text-light">Calendario</h1>
                    <div class="box"></div>
                </div>
            </div>
        </div>
    </div>
</section>