<section id="services" class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Servicios</h1>
            <div class="columns">
                <div class="column is-4">
                    <div class="card">
                        <div class="card-image">
                            <!-- <i class="fas fa-language has-text-warning"></i> -->
                            <img id="idiomas">
                        </div>
                        <header class="card-header">
                            <p class="is-size-3 card-header-title">
                                Cursos de Idiomas
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis
                                mauris.
                                <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                                <br>
                                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <div class="card-image">
                            <!-- <i class="fas fa-graduation-cap has-text-warning"></i> -->
                            <img id="pii">
                        </div>
                        <header class="card-header">
                            <p class="is-size-3 card-header-title">
                                Acreditaciones
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis
                                mauris.
                                <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                                <br>
                                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <div class="card-image">
                            <!-- <i class="fas fa-certificate has-text-warning"></i> -->
                            <img id="cartas">
                        </div>
                        <header class="card-header">
                            <p class="is-size-3 card-header-title">
                                Aplicación TOEFL
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis
                                mauris.
                                <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                                <br>
                                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>