@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&family=Mr+Dafoe&display=swap');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #565656;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

//uady cil colors
$yellow: #e0910e;
$blue: #1b3041;

// Update Bulma's global variables
$family-sans-serif: 'Roboto', serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $blue;
$link: $blue;
$warning: $yellow;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: #f5f5f5;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

#numbers {
    padding: 50px;
}
#calendar {
    padding: 15px;
}
#logo {
    max-height: 72px !important;
}
#nosotros-img {
    // height: 350px;
}
.has-margin-10 {
    margin-left: 10px;
    margin-right: 10px;
}
.has-text-shadow {
    text-shadow: 0px 2px 1px rgba(150, 150, 150, 1);
}
// #numbers {
//     background: url('../img/numbers.jpg') no-repeat center center/cover;
// }
.has-text-cursive {
    font-family: 'Mr Dafoe', cursive;
    font-size: 5em !important;
}
.textr {
    line-height: 1.8;
}
.card-image {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 25px;
}
.card-image svg {
    font-size: 100px;
    color: $blue;
}
.card-header-title {
    text-align: center;
    display: block !important;
}
textarea:focus,
textarea:active {
    border-color: $blue !important;
    box-shadow: 0 0 0 0.125em rgba(27, 48, 65, 0.25) !important;
}
.py-1 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.pb-1 {
    padding-bottom: 10px;
}
.special-text {
    line-height: 2;
}
.footer {
    padding: 1.5rem !important;
    background-color: $blue !important;
    color: $beige-lighter;
    font-size: 10px;
}
.is-link-inverted {
    color: $yellow;
    cursor: pointer;
    text-decoration: none;
}
p.help {
    visibility: hidden;
}
span.icon.is-right {
    visibility: hidden;
}
small.help {
    visibility: hidden;
}
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: 1;
    background: linear-gradient(to top, #1b3041, transparent);
}
.banner .content-custom {
    position: relative;
    max-width: 900px;
    z-index: 1;
}
.banner .content-custom h2 {
    font-size: 3em;
}
.fitBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // opacity: 0.8;
}
.menu-list li a:hover {
    color: $yellow !important;
}
#contact a:hover {
    color: $yellow !important;
}
.filter-white {
    // filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
    filter: brightness(0) invert(1);
}
.text-uady {
    display: flex !important;
    align-items: center;
}

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";

@include until($desktop) {
    .navbar-menu {
      display: block;
      opacity: 0;
  
      position: absolute;   /* or float: left; width: 100%;*/
      left: 0;
      right: 0;
  
      transform: translateY(-50%);
      transition: all .4s ease-in-out;
      pointer-events: none;
    }
  
    .navbar-menu.is-active {
      opacity: 1;
      transform: none;
      pointer-events: auto;
    }

    .buttons a.has-text-light {
        color: #1b3041 !important;
    }
}

@import "../../node_modules/bulma-carousel/src/sass/index.sass";

*:focus {
    outline: none;
}
.slider-navigation-previous,
.slider-navigation-next {
    margin-left: 10px;
    margin-right: 10px;
}
html {
    scroll-behavior: smooth;
}
::selection {
    background-color: #dabc8c;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
    background-color: $blue;
}
.calendar {
    position: relative;
    background: #fff;
    text-align: center;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}
.calendar #monthName {
    position: relative;
    padding: 10px;
    background: #e0910e;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}
.calendar #dayName {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    color: #565656;
}
.calendar #dayNumber {
    margin-top: 0px;
    line-height: 1em;
    font-size: 80px;
    font-weight: 700;
    color: #565656;
}
.calendar #year {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #565656;
}
.media {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.media .media-left {
    min-width: 200px;
}
a.navbar-item:hover {
    text-decoration: underline;
}
.is-active {
    text-decoration: underline !important;
}
#root {
    margin: 50px auto;
}
#preloader {
    position: fixed;
    z-index: 9999;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.show {
    visibility: visible;
}
.hide {
    visibility: hidden;
}
.self-building-square-spinner, .self-building-square-spinner * {
    box-sizing: border-box;
  }

  .self-building-square-spinner {
    height: 40px;
    width: 40px;
    top: calc( -10px * 2 / 3);
  }

  .self-building-square-spinner .square {
    height: 10px;
    width: 10px;
    top: calc( -10px * 2 / 3);
    margin-right: calc(10px / 3);
    margin-top: calc(10px / 3);
    background: $blue;
    float: left;
    position:relative;
    opacity: 0;
    animation: self-building-square-spinner 6s infinite;
  }

  .self-building-square-spinner .square:nth-child(1) {
    animation-delay: calc(300ms * 6);
  }

  .self-building-square-spinner .square:nth-child(2) {
    animation-delay: calc(300ms * 7);
  }

  .self-building-square-spinner .square:nth-child(3) {
    animation-delay: calc(300ms * 8);
  }

  .self-building-square-spinner .square:nth-child(4) {
    animation-delay: calc(300ms * 3);
  }

  .self-building-square-spinner .square:nth-child(5) {
    animation-delay: calc(300ms * 4);
  }

  .self-building-square-spinner .square:nth-child(6) {
    animation-delay: calc(300ms * 5);
  }

  .self-building-square-spinner .square:nth-child(7) {
    animation-delay: calc(300ms * 0);
  }

  .self-building-square-spinner .square:nth-child(8) {
    animation-delay: calc(300ms * 1);
  }

  .self-building-square-spinner .square:nth-child(9) {
    animation-delay: calc(300ms * 2);
  }

  .self-building-square-spinner .clear{
    clear: both;
  }

  @keyframes self-building-square-spinner {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
      top: 0;
    }
    50.9% {
      opacity: 1;
      top: 0;
    }
    55.9% {
      opacity: 0;
      top: inherit;
    }
  }
@media (max-width: 600px) {
    .media {
        flex-flow: column wrap;
    }
    .media-left {
        margin-bottom: 30px;
    }
  }